@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300,900");

body {
  font-family: 'Lora', serif;
  font-size: 1.5em;
  overflow-x: hidden !important;
}

.container-fluid {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}


/*.......................................Navigation*/

/*navbar*/

#nav {
  background: transparent;
  border: none;
}

.nav {
  margin-left: 5%;
}


.navbar_headings {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  padding: 5px 0;
  width: 25%;
}

.navbar-nav>li>a {
  padding: 10px;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
}

.navbar-default .navbar-nav>li>a:hover {
  background: #1E1D18;
  color: #fff;
}

.navbar-toggle {
  position: relative;
  float: none;
  left: 20px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.toggle_btn {
  color: #000;
}

/*back to top button*/

.top_btn {
  margin: 0;
  bottom: 240px;
  left: 80%;
  position: fixed;
  width: 100%;
  z-index: 2
}

.top-btn {
  padding: 5px;
  background-color: #fff;
  color: #1E1D18;
  border: 1px solid #cd5360;
  height: 45px;
  width: 50px;
}

.top-btn:hover {
  background-color: #1E1D18;
  color: #fff;
}

.top-btn span {
  padding: 3px;
}

/*stops btn showing on page load*/

#toTop {
  display: none;
}

/*......................................Header section*/

#cityscape {
  background: linear-gradient(to bottom,
  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
  url("../images/amsterdam.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;

}

.headings {
  padding: 140px 45px 10px 45px;
  color: white;
}

/*......................................About Us Section*/

.main-title {
  font-weight: 900;
  margin-top: 0;
}

#about-us {
  text-align: center;
  padding: 0 3em 2em 3em;
}


/*....................................Inspiration section*/

/*Animation*/

.animation {
  position: relative;
  top: 20px;
  color: #cd5360
}

.animation_here {

  margin: 5px auto;
  font-size: 40px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-24px);
  }
  60% {
    transform: translateY(-12px);
  }
}

@keyframes zoom {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(200px);
  }
}

#inspiration,
#mapFind {
  padding: 2em 1em 2em 1em;
  text-align: center;
  background-color: #F7F6F4;
}

/*Paris*/

.paris {
  background: linear-gradient(to top,
  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
  url("../images/paris.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  transition: all 0.3s;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.paris:hover {
  transform: scale(1.05);
}

/*New York*/

.ny {
  background-image: url("../images/newyork.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  transition: all 0.3s;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.ny:hover {
  transform: scale(1.05);
}

/*London*/

.london {
  background: linear-gradient(to top,
  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
  url("../images/londonview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  transition: all 0.3s;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.london:hover {
  transform: scale(1.05);
}

/*Amsterdam*/

.amsterdam {
  background: linear-gradient(to top,
  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
  url("../images/ams.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  transition: all 0.3s;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.amsterdam:hover {
  transform: scale(1.05);
}


/*General*/

.city-quote {
  padding-left: 10px;
  padding-top: 20px;
  color: #fff;
}


.city-info {
  padding: 20px;
  text-align: center;
}


.city-info>h2 {
  margin-top: 0;
}

/*.......................................MAP */

/*Search*/

#places {
  text-align: center;
  margin-top: 20px;
}

#search {
  text-align: center;
  height: 25vh;
  background-image: url(../images/book.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#country {
  margin-top: 20px;
}


.find-me {
  padding: 25px 10px 20px 10px;
}

/*Radio Button Styles*/

.radio {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.selected {
  position: absolute;
  top: 0;
  left: 10px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid black;
}


.radio:hover input~.selected {
  background-color: #F7F6F4;
}


.radio input:checked~.selected {
  background-color: #cd5360;
}


.radio:after {
  content: "";
  position: absolute;
  display: none;
}


.radio input:checked~.selected:after {
  display: block;
}


.radio .selected:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/*Google map style*/

#map-area {
  padding: 0;
  margin: 0;
}

#map {
  width: 100%;
  height: 75vh;
}

/*.......................................Booking Form*/

#formSection {
  margin: 0;
}

button {
  overflow: visible;
}

textarea {
  overflow: auto;
}

#form {
  padding: 35px;
  margin: 50px 0;
  background: rgb(255, 255, 255, 0.8);
}

.submit {
  text-align: center;
}

#inputName,
#inputEmail,
#country_input,
#message_input {
  background: none;
  border: none;
  border-bottom: solid 2px #1E1D18;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 1em 0 2em 0;
  padding: 0 0 1em 0;
  width: 100%;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#country_input {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
}

#form_button {
  background: none;
  border: 2px solid #1E1D18;
  color: #1E1D18;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button:hover {
  background-color: #1E1D18;
  color: #fff;
}

.booking-img {
  background-image: url("../images/city-book.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  transition: all 0.3s;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.form_box {
  margin-bottom: 50px;
  margin-top: 50px;
}

.form-horizontal {
  margin: 15px;
}


/*.........................................Footer */

footer {
  background-color: #F7F6F4;
  color: #000;
  text-align: center;
}

.footer-text {
  font-size: smaller;
  padding: 0 15px 25px 15px;
}

.logo {
  padding: 25px 15px 0 15px;
}

.logo>h5>a {
  color: #000;
}

.icon-style i {
  font-size: 24px;
  padding: 25px;
  color: #000;
  transition: all .2s ease-in-out;
}

.icon-style i:hover {
  transform: scale(1.2);
}

/*.........................................MEDIA QUERIES */

@media (min-width: 767px) {
  
  .main-title {
    margin-top: 0;
    margin-bottom: 60px;
  }

  #about-us {
    text-align: center;
    padding: 3em 6em 4em 6em;
  }

  .nav {
    width: 76%;
    margin-left: 12%;
  }

  .navbar_headings {
    padding: 0;
    text-align: center;

  }

  .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .top_btn {
    bottom: 140px;
    left: 90%;
  }

  #search {
    height: 50vh;
  }

  .ny,
  .london {
    margin-bottom: 0;
  }

  #topFormRow {
    margin-top: 20px;
  }

  .city-info {
    padding: 40px 80px;
  }

  .labels {
    top: 12px;
  }

  .footer-text {
    padding: 25px 15px 25px 25px;
  }
}

@media (min-width: 1274px) {

  #search {
    height: 50vh;
  }

  #places {
    padding-right: 15px;
    padding-left: 30px;
  }

  .top_btn {
    left: 90%;
  }

  .animation {
    position: relative;
    top: 20px;
  }

  .animation_here {
    margin: 5px auto;
    font-size: 40px;
    animation: zoom 2s linear forwards;
  }

}
