
body {
  font-family: 'Lora', serif;
  font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}


/*.......................................Nav*/

.nav {
  min-height: 55px;
  color: #000;
}

.nav-headings {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 5px;
  margin-top: 5px;


}

.nav:hover {
  background-color: black;
  color: white;
  cursor: pointer;

}

/*......................................Header section*/

#cityscape {
  background: linear-gradient(to bottom,
  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
  url("../images/amsterdam.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.headings {
  padding: 140px 45px 10px 45px;
  color: white;
}

/*......................................About Us Section*/

.main-title {
  margin-top: 0;
}

#about-us {
  text-align: center;
  padding: 0 3em 2em 3em;
}

.icons {
  font-size: 24px;
  color: #C52D28;
}

.icons i {
  padding-top: 20px;
  padding-right: 20px;
}

/*....................................Inspiration section*/

/*Animation*/

.animation {
  position: relative;
  top: 20px;
}

.animation_here {
  height: 20px;
  width: 20px;
  margin: 5px auto;
  background-color: #C52D28;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}


#inspiration {
  padding: 0 3em 4em 3em;
  text-align: center;
}

/*Paris*/

.paris {
  background: linear-gradient(to top,
  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
  url("../images/paris.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  transition: all 0.3s;
}

.paris:hover {
  transform: scale(1.1);
}

/*New York*/

#ny {
  border-top: 1px solid black;
}


.ny {
  background-image: url("../images/newyork.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  margin-bottom: 20px;
  transition: all 0.3s;

}

.ny:hover {
  transform: scale(1.1);

}

/*London*/

.london {
  background: linear-gradient(to top,
  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
  url("../images/londonview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.london:hover {
  transform: scale(1.1);

}

.border-london {
  padding-top: 20px;
}

/*Amsterdam*/

.am {
  background: linear-gradient(to top,
  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
  url("../images/ams.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  transition: all 0.3s;

}

.am:hover {
  transform: scale(1.1);
}

#amsterdam {
  border-top: 1px solid black;
}

.city-quote {
  padding-left: 10px;
  padding-top: 20px;
  color: #fff;
}
  
.london-city-quote {
    padding-left: 10px;
    margin-top: 20px;
    padding-top: 20px;
    color: #fff;
    border-top: 1px solid black;
    position: relative;
    top: -40px;
}

.city-info {
  padding: 20px;
  text-align: center;
}


.city-info>h2 {
  margin-top: 0;
}

/*.......................................MAP */

/*Search*/

#places {
  text-align: center;
  margin-top: 20px;
}

#search {
  text-align: center;
  background-color: #BDCADA;
  padding: 20px;
  height: 25vh;
  background-image: url(../images/book.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#country {
  width: 200px;
  margin-top: 20px;
  background-color: #fff;
}

#locationInput {
  margin-top: 10px;
  margin-bottom: 10px;


}

#locationInput input {
  padding: 10px;
  width: 200px;
}

.find-me {
  padding: 25px 10px 20px 10px;
}

/*Radio Button Styles*/

.radio {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.selected {
  position: absolute;
  top: 0;
  left: 10px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid black;
}


.radio:hover input~.selected {
  background-color: #F7F6F4;
}


.radio input:checked~.selected {
  background-color: #C52D28;
}


.radio:after {
  content: "";
  position: absolute;
  display: none;
}


.radio input:checked~.selected:after {
  display: block;
}


.radio .selected:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/*Google map style*/

#map-area {
  padding: 0;
  margin: 0;
}

#map {
  width: 100%;
  height: 75vh;
}
